@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.main {
    background-color: white;
    color: green;
    padding: 30px;
    text-align: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 36px;

}

.logo {
    display: flex;
    align-items: center;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}