.main {
    background-color: white;
    color: green;
    padding: 30px;
    text-align: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}